

//Окнов входа
.content_login_2 {

  width: 23.75rem;
  height: 26.875rem;
  display: block;
  background-color: rgba(205, 205, 205, 0.4);
  border-radius: 0 0 0.625rem 0.625rem;
  position: absolute;
  margin: 0 auto;
}

hr{
  margin: 0 auto;
  width: 90px;
  height: 2px;
  background-color: white;
  margin-top: -16px;

}


// input login
.avtorizir{
  margin-top: rem(30);
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;

}

.login{
  margin: 0 auto;
  text-align: center;
  margin-top: rem(30);
}
.login_text{
  width: 340px;
  height: 45px;
  border-radius: 30px;
  margin-bottom: 20px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
input[type=text]  {
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  //background: url('../../src/img/login.svg');
  background-position: 12px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  color: black;
}
input[type=password]  {
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  //background: url('../../src/img/password.svg');
  background-position: 12px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  color: black;
}


// CheckBox
.checkbox_robot{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
input[type="checkbox"]:checked + label {
  color: black;
  opacity: 0.6;
}
.question{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
//RadioButton
.radio_button{
  margin-top: -10px;
  color: white;
  text-align: center;
  margin-left: -20px;
}
.r_b_1, .r_b_2{
  margin-left: 37px;

}
.lable_radio{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
input[type="radio"]:checked + label {
  color: black;
  opacity: 0.6;
}


//button
.button_login_2{
display: flex;
  margin-top: 56px;
}

.bt_1, .bt_2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 50%;
  margin-top: -20px;
  background-color: rgba(73, 121, 92, 0.6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    background-color: rgb(73, 121, 92);
  }
}

.bt_2{
  border-left: 2px solid rgba(222, 227, 231, 0.6);
  border-radius:  0 0  0.625rem 0;
}
.bt_1{
  border-radius:  0 0 0 0.625rem;
}
button:active,
 button:focus {
   outline: none;
 }
input:active,
input:focus {
  outline: none;
}



