mixin pie_chart(skill, percentage)
    .group__item
        .item-title=skill
        svg(class="piechart" viewBox="0 0 120 120")
            circle(class="piechart__bg" fill="none" stroke-width="20" stroke-dasharray="314.159265" stroke-dashoffset="314.159265" cx="60" cy="60" r="50" transform="rotate(-90, 60, 60)")
            circle(class="piechart__fill", data-percentage=((100 - percentage) / 100) * 314.159265, fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")

////////////



